<section class="reach-your-peak-boxes">
	<ul class="boxes__list">
		<li class="boxes__item">
			<p class="boxes__item_text">
				Clients
			</p>
			<div class="boxes__wrapper">
				<p class="boxes__wrapper_num">
					<%- i18n.fx('find_your_calm_boxes_num1')%>
				</p>
				<p class="boxes__wrapper_text">
          <%- i18n.fx('reach_your_peak_text_19')%>
				</p>
			</div>
		</li>
		<li class="boxes__item">
			<p class="boxes__item_text">
				Awards
			</p>
			<div class="boxes__wrapper">
				<p class="boxes__wrapper_num">
					<%- i18n.fx('find_your_calm_boxes_num2')%>
				</p>
				<p class="boxes__wrapper_text">
          <%- i18n.fx('reach_your_peak_text_20')%>
				</p>
			</div>
		</li>
		<li class="boxes__item">
			<p class="boxes__item_text">
				Customer
			</p>
			<div class="boxes__wrapper">
				<p class="boxes__wrapper_num">
					<%- i18n.fx('find_your_calm_boxes_num3')%>
				</p>
				<p class="boxes__wrapper_text">
          <%- i18n.fx('reach_your_peak_text_21')%>
				</p>
			</div>
		</li>
		<li class="boxes__item">
			<p class="boxes__item_text">
				Regulations
			</p>
			<div class="boxes__wrapper">
				<p class="boxes__wrapper_num">
					<%- i18n.fx('find_your_calm_boxes_num4')%>
				</p>
				<p class="boxes__wrapper_text">
          <%- i18n.fx('reach_your_peak_text_22')%>
				</p>
			</div>
		</li>
	</ul>
</section>