<div class="reach-your-peak-expedition">
  <div class="expedition__container">
    <div class="expedition__area expedition__area_1">
      <h3 class="expedition__area_title"><%- i18n.fx('reach_your_peak_text_2')%></h3>
      <div class="expedition__area_text-wrapper-outer">
        <div class="expedition__area_text-wrapper">
          <div class="expedition__area_text-subtitle"><%- i18n.fx('reach_your_peak_text_3')%></div>
          <div class="expedition__area_text"><%- i18n.fx('reach_your_peak_text_4')%></div>
        </div>
        <div class="expedition__area_text-wrapper">
          <div class="expedition__area_text-subtitle"><%- i18n.fx('reach_your_peak_text_5')%></div>
          <div class="expedition__area_text"><%- i18n.fx('reach_your_peak_text_6')%></div>
        </div>
      </div>
    </div>
    <div class="expedition__area expedition__area_2">
      <div class="expedition__area_title-wrapper">
        <h3 class="expedition__area_title"><%- i18n.fx('reach_your_peak_text_7')%></h3>
        <div class="expedition__area_text"><%- i18n.fx('reach_your_peak_text_8')%></div>
      </div>
      <div class="expedition__area_text-wrapper-outer">
        <div class="expedition__area_text-wrapper">
          <div class="expedition__area_text-subtitle"><%- i18n.fx('reach_your_peak_text_9')%></div>
          <div class="expedition__area_text"><%- i18n.fx('reach_your_peak_text_10')%></div>
        </div>
        <div class="expedition__area_text-wrapper">
          <div class="expedition__area_text-subtitle"><%- i18n.fx('reach_your_peak_text_11')%></div>
          <div class="expedition__area_text"><%- i18n.fx('reach_your_peak_text_12')%></div>
        </div>
      </div>
    </div>
    <div class="expedition__area expedition__area_3">
      <div class="expedition__area_title-wrapper">
        <h3 class="expedition__area_title"><%- i18n.fx('reach_your_peak_text_13')%></h3>
        <div class="expedition__area_text"><%- i18n.fx('reach_your_peak_text_14')%></div>
      </div>
      <div class="expedition__area_text-wrapper-outer">
        <div class="expedition__area_text-wrapper">
          <div class="expedition__area_text-subtitle"><%- i18n.fx('reach_your_peak_text_15')%></div>
          <div class="expedition__area_text"><%- i18n.fx('reach_your_peak_text_16')%></div>
        </div>
        <div class="expedition__area_text-wrapper">
          <div class="expedition__area_text-subtitle"><%- i18n.fx('reach_your_peak_text_17')%></div>
          <div class="expedition__area_text"><%- i18n.fx('reach_your_peak_text_18')%></div>
        </div>
      </div>
    </div>
  </div>
</div>